<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crd.gpstracker"
    android:versionCode="20130403"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="10" >
    </uses-sdk>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:largeScreens="true"
        android:resizeable="true" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.Tracker"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:theme="@style/Window" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.maps.BaiduMap"
            android:theme="@style/Window" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Records"
            android:screenOrientation="behind"
            android:theme="@style/Window" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Modify"
            android:theme="@style/Window"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Info"
            android:screenOrientation="behind"
            android:theme="@style/Window" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Preference"
            android:screenOrientation="behind"
            android:theme="@style/Window" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Detail"
            android:theme="@style/Window" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.umeng.api.activity.OauthActivity"
           android:screenOrientation="unspecified"
           android:windowSoftInputMode="adjustResize"
           android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name="com.umeng.api.activity.UpdateStatusActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="schema…" />
            </intent-filter>
        </activity>
        <activity android:name="com.umeng.fb.ui.SendFeedback"
                  android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversations" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversation"
                  android:configChanges="keyboard" />

        <service
            android:name=".service.Recorder"
            android:enabled="true"
            android:label="@string/service_name" >
        </service>
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService">
        </service>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5148772b56240b5f05002f64" >
        </meta-data>
    </application>

</manifest>